<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./test/bootstrap.php">
    <testsuites>
        <testsuite name="Test Suite for demotraton">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
  
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
</phpunit>
